@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}
/* Header */
.header {
  border-bottom: 3px solid #32b9cd;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}


.titulo {
  color: #32b9cd;
  width: fit-content;
  font-weight: 500;
}

h4 {
  color: white;
}

/* Header */

/* LOGIN */

.banner .container .card {
  background-color: #e5e5e5;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: palevioletred;
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 2px solid white;
  background-color: #282828;
  backdrop-filter: blue(8px);
  /* border: 3px solid pink; */
}

.dash-header {
  background-color: #212124;
}

.dash {
  background-image: url(../assets2/img_er/piscesgraphics-kindlor-splash-blu.jpg);
  background-size: cover;
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
}

.dash-right {
  background-image: url(../assets2/img_er/);
  display: flex;
  width: 80%;
  height: fit-content;
  background-color: transparent;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: white;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #7ED7F0;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.h3color {
  color: #3D2978;
}

d {
  color: #8d8d8d;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: transparent;
  border: solid 2px grey;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: transparent;
  border: 3px solid grey;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: white;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  width: 100px;
  height: 50px;
  background-color: grey;
  color: white;
  border: solid 2px #dfdfdf;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}


@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}
